<h1>ログイン</h1>

<% form_for @user_session, :url => user_session_path do |f| %>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "ログイン" %>
  </p>
  <p>
    <%= link_to "ユーザの新規作成", new_user_path %>
  </p>
<% end %>
